.risk-ranking {
  font-size: 24pt;
}

.good-rank {
  background-color: green;
  color: white;
  font-weight: bold;
}

.meh-rank {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.bad-rank {
  background-color: red;
  color: white;
  font-weight: bold;
}
